body {
    color: white;
    font-family:  Roboto;
	background: linear-gradient(to right, rgb(93, 172, 218),  rgb(220, 63, 186));

}
h1 {
    color: white;
    font-size: 100px;
    text-align: center;
}
h2 {
	padding-left: 40px;
	color:white;

}
h3 {
	color: blue;
    font-size: 50px;
    padding-left: 40px;
}
a:link {
	color: pink;
}
a:visited {
	color: purple;
}
li {
	list-style-type: none;
	font-size: 20px;
	padding-bottom: 20px;
}
ul {
	padding-bottom: 0px;
}
header{
	background-color: black;
	margin:30px;
}
footer{
	background-color: purple;
	margin: 30px;
}

.item {
	margin-left:  40px;
}
.question{
	color: blue;
	font-style: italic;
}
#interest{
	color: #FF9800;
	font-style: italic;
}
/*/ Bootstrap style changes /*/
.jumbotron{
	background-color: black;
	color: white;
}