body {
    background-color: white;
    color:white;
    font-family:  Roboto;
    background: linear-gradient(to right, #4776E6,  #8E54E9);

}
h1 {
    color: white;
    font-size: 100px;
    font-style: italic;
    text-align: center;
}
h2 {
	padding-left: 40px;
	color:white;

}
h3 {
	color: white;
    font-size: 30px;
    padding-left: 40px;
}
a:link {
	color: blue;
}
a:visited {
	color: navy;
}
li {
	list-style-type: none;
	font-size: 20px;
	padding-bottom: 20px;
}
ul {
	padding-bottom: 0px;
}
header{
	background-color: black;
	margin:30px;
}
footer{
	background-color: purple;
	margin: 30px;
}

.item {
	margin-left:  40px;
}
.question{
	color: orange;
	font-style: italic;
}
.highlight{
	color: #fdff00;
	font-style: italic;
}
#interest{
	color: #FF9800;
	font-style: italic;
}