body {
    background-color: white;
    font-family:  Roboto;

}
h1 {
    color: white;
    font-size: 100px;
    font-style: italic;
    
}
h3 {
	color: black;
    font-size: 30px;
}
p {
    color: black;
    font-size: 20px;
}

li {
	list-style-type: none;
	font-size: 20px;
}


#highlight{
	color: orange;
	text-shadow: 2px 2px 8px LightGrey;
}

#highlight2{
	color: purple;
}

.header-box{
	background-color: black;
	margin:30px; /*/Aestetic reasons/*/
}

.footer-box{
	background-color: purple;
	margin: 30px;
}