body {
    background-color: white;
    font-family:  Tahoma;

}
h1 {
    color: blue;
    font-size: 100px;
}

h3 {
	color: black;
    font-size: 30px;
}
p {
    color: red;
}
ul {
	list-style-type: none;
	font-size: 20px;

}