body {
    font-family: Roboto;
}
h2{
	font-size: 2em;
}
@media screen and (max-width: 800px){
	p{
		color: white;
	}
	h2{
		color: white;
	}
	body{
		background-color: blue;
	}
	.jumbotron{
		background-color: yellow;
	}
}

@media screen and (max-width: 600px){
	p{
		color: white;
	}
	h2{
		color: white;
	}
	body{
		background-color: purple;
	}
	.jumbotron{
		background-color: orange;
	}
}

@media screen and (max-width: 500px){
	p{
		color: white;
	}
	h2{
		color: white;
	}
	body{
		background-color: red;
	}
	.jumbotron{
		background-color: green;
	}
}