body {
    font-family: Ubuntu;
}
h2{
	font-size: 2em;
}
@media screen and (max-width: 800px){
	p{
		color: white;
	}
	h2{
		color: white;
	}
	body{
		background-color: blue;
	}
	.jumbotron{
		background-color: yellow;
	}
}
