/*/Dylan Vanelli/*/
/*/Initial gradient is changed when Background Color button is clicked/*/
body{
  background: lightblue;
  padding-left: 20px;
}
/*/Custon input styling, adding some roundness/*/
input{
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/*/Made the input box for title a little smaller, also added custom styling/*/
#title{
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width:47%
}
h1{
  color: white;
  font-size: 70px;
}
h3{
  overflow: hidden;
}
p.desc{
  color:grey;
  overflow: hidden;
}
/*/Removed bullets and list indentation/*/
ul,li{
  list-style-type: none;
  list-style-position:inside;
  margin-top:10px;
  margin-bottom:10px;
  padding:0;
}
/*/Div for boards. display is toggled to change orientation/*/
.row{
  width: 120%;
  display:flex;
}
.board{
  margin: 10px;
  background: #f7f7f7;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  border-radius:6px;
  width: 25%;
  padding: 10px;

}
.item{
  overflow: hidden;
  border-width: 0;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  background-color: #f9f9f9;
  color: black;
}
.btn-sm, .btn-xs{
  float:right;
}
#changeColorBtn{
  float:none;
}
#card{
  padding: 10px;
  padding-bottom: 15px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  background-color: white;
  color: black;
}
#comment, #created{
  font-style: italic;
}
