<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Dylan Vanelli" />
        <title>Trillo</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
        <script src="js/main.js" async></script>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    </head>
    <body>
        <div id="trillo">
            <h1>Trillo: The Discount Trello</h1>
            <div>
                <input v-on:keyup.enter="addBoard" placeholder="Add a new list..." v-model="newBoard">
                <button class="btn-sm" id="changeColorBtn" v-on:click="changeBackground($event)">Background Color</button>
            </div>
            <button class="btn" v-on:click="document.getElementById('row').style.display='table';">Vertical</button>
            <button class="btn" v-on:click="document.getElementById('row').style.display='flex';">Horizontal</button>
            <div id="row" class="row">
                <div class="board" v-for="(board, index) in boards" v-bind:id="board.title">
                    <div class="view">
                        <!--<input @keyup.enter="changeColor(board)" placeholder="Change board color..." v-model="board.newColor">-->
                        <button class="btn-sm" v-on:click="shiftRight(board)">></button>
                        <button class="btn-sm" v-on:click="deleteBoard(board)">x</button>
                        <button class="btn-sm" v-on:click="shiftLeft(board)"><</button>
                        <button class="btn-sm" v-on:click="showBoard(board)">Hide</button>
                        <h3>{{ board.title }}</h3>
                        <input @keyup.enter="editTitle(board)" placeholder="Change the title..." v-model="board.newTitle">
                    </div>
                    <div v-if="board.visible">
                        <div>
                            <input @keyup.enter="addCard(board)" placeholder="Add a new card..." v-model="board.newCard">
                        </div>
                        <div>
                            <ul>
                                <li v-for="item in board.items">
                                    <div id="card" class="view">
                                        {{ item.title }}
                                        <button class="btn-sm" v-on:click="deleteCard(board, item)">x</button>
                                        <button class="btn-sm" v-on:click="showCard(item)">Expand</button>
                                        <div v-if="item.visible">
                                            <p id="created">Created: {{item.created}}</p>
                                            <p class="desc">About: {{item.about}}</p>
                                            <input @keyup.enter="editAbout(item)" placeholder="Edit description..." v-model="item.newAbout">
                                            <input @keyup.enter="addToDo(item)" placeholder="Add a new todo..." v-model="item.newToDo">
                                            <ul>
                                              <li v-for="(todo, index) in item.todos">
                                                •{{todo.title}}<button class="btn-sm" v-on:click="deleteToDo(item, todo)">x</button>
                                              </li>
                                            </ul>
                                            <input @keyup.enter="addComment(item)" placeholder="Add a new comment..." v-model="item.newComment">
                                            <ul>
                                              <li v-for="(comment, index) in item.comments">
                                                Comment {{index+1}}: {{comment.title}}<button class="btn-sm" v-on:click="deleteComment(item, comment)">x</button>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
