<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Project Manager</title>
  <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <body>
<!-- Generate divs through Vue -->
   <div id="projectManager">
        <div>
            <h1>Project Management Board</h1>
            <div class="row">
                <div class="col-sm-3">
                    <in-board-1 :bone="board1List"></in-board-1>
                </div>
                <div class="col-sm-3">
                    <in-board-2 :btwo="board2List"></in-board-2>
                </div>
                <div class="col-sm-3">
                    <in-board-3 :bthree="board3List"></in-board-3>
                </div>
            </div>
        </div>
    </div>
<!-- Board 1 container -->
    <template id="in-board-1">
        <h3 contenteditable="true"> Board 1</h3>
        <ul>
            <li v-for="(index, task) in bone">
                <div id="task">
                    <button id="moveBtn" v-on:click="toBoard2(task, index)"class="btn-xs">></button>
                    <button id="removeBtn" v-on:click="deleteTask(index)"class="btn-xs">x</button>
                    <br>
                    <h4><b>Task:</b></h4><p> {{task.title}}</p>
                    <div id=desc><h4><b>Description:</b></h4><p> {{task.desc}}</p></div>
                  </div>
            </li>
        </ul>
        <div id="search">
          <form v-on:submit="addName">
            <input type="text" class="form-control" v-model="newTask" placeholder="Enter new task...">
          </form>
          <form v-on:submit="addTask">
            <input type="text" class="form-control" v-model="newDesc" placeholder="Enter a description...">
          </form>
        </div>
    </template>
<!-- Board 2 container -->
    <template id="in-board-2">
      <h3 contenteditable="true"> Board 2</h3>
        <ul>
            <li v-for="(index, task) in btwo">
                <div id="task">
                    <button id="moveBtn" v-on:click="toBoard3(task, index)"class="btn-xs">></button>
                    <button id="removeBtn" v-on:click="deleteTask(index)" class="btn-xs">x</button>
                    <button id="moveBtn" v-on:click="toBoard1(task, index)" class="btn-xs"><</button>
                    <br>
                    <h4><b>Task:</b></h4><p> {{task.title}}</p>
                    <div id=desc><h4><b>Description:</b></h4><p> {{task.desc}}</p></div>
                </div>
            </li>
        </ul>
        <div id="search">
          <form v-on:submit="addName">
            <input type="text" class="form-control" v-model="newTask" placeholder="Enter new task...">
          </form>
          <form v-on:submit="addTask">
            <input type="text" class="form-control" v-model="newDesc" placeholder="Enter a description...">
          </form>
        </div>
    </template>
<!-- Board 3 container -->
    <template id="in-board-3">
        <h3 contenteditable="true"> Board 3</h3>
        <ul>
            <li v-for="(index, task) in bthree">
              <div id="task">
                <button id="removeBtn" v-on:click="deleteTask(index)" class="btn-xs">x</button>
                <button id="moveBtn" v-on:click="toBoard2(task, index)" class="btn-xs"><</button>
                <br>
                <h4><b>Task:</b></h4><p> {{task.title}}</p>
                <div id=desc><h4><b>Description:</b></h4><p> {{task.desc}}</p></div>
              </div>
            </li>
        </ul>
        <div id="search">
          <form v-on:submit="addName">
            <input type="text" class="form-control" v-model="newTask" placeholder="Enter new task...">
          </form>
          <form v-on:submit="addTask">
            <input type="text" class="form-control" v-model="newDesc" placeholder="Enter a description...">
          </form>
        </div>
    </template>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js'></script>
<script  src="js/index.js"></script>
</body>
</html>
